*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: #212121;
    color: turquoise;
}

nav {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 800;
    padding: 2vw;
    background-color: turquoise;
    color: #212121;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vw;
}

.desc-container {
    font-size: 2rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.desc-container > p {
    text-align: center;
}

.input-guess {
    background-color: #343333;  
    color: rgb(0, 255, 166);
    padding: .7rem 2rem 0.7rem  1.5rem ;
    text-align: center;
    border-radius: 20px 5px 5px 20px;
    outline: none;
    border: 0;
}

.submit-form {
    padding: .7em 1.2rem .7rem .7rem;
    font-weight: 600;
    font-style: italic;
    /* text-transform: uppercase; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px 20px 20px 5px;
    border: none;
    background-color: aqua;
    color: #212121;
}

.submit-form:hover{
    background-color: #343333;
    color: rgb(22, 181, 139);
    transition: 1s;
}

.data-fields {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
}

.prev-guesses {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 1vw;
}

.guess-count {
    font-size: 1rem;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 1vw;
}

.warm-cold-indicator {
    padding: 1.7rem;
    font-weight: 400;
    font-size: medium;
}

.new-game,.end-game {
    padding: 1vw;
    border-radius: 20px 20px 10px 10px;
    border: none;
    background-color: aqua;
    color: #212121;
    font-weight: 900;
}

.new-game:hover ,.end-game:hover {
    background-color: #343333;
    color: rgb(22, 181, 139);
    transition: 1s;
}